.element_action_like {
  width: 20px;
  height: 18px;
  position: absolute;
  right: 22px;
  bottom: 32px;
}

.element_action_like:hover {
  opacity: 0.5;
  cursor: pointer;
}

.element_action_like:active {
  background-image: url('../../../../images/action-like-active.svg');
  opacity: 1;
}
